<!DOCTYPE html>
<html>
  <head>
    <!-- scrips here -->
  </head>

  <body>
    <div id="app">
      <marquee>'ello World!</marquee>
    </div>
  </body>

  <script src="../app.js"></script>
</html>
