<!DOCTYPE html>
<html>
  <head>
    <!-- scrips here -->
    <link rel="stylesheet" href="../styles.css" />
  </head>

  <body>
    <div id="app">
      <marquee
        ><h1>
          TEXT 720-897-0049 to let us know your favorite things about DVLP
          Denver!
        </h1></marquee
      >
    </div>
  </body>

  <script src="../app.js"></script>
</html>
