<!DOCTYPE html>
<html>
  <head>
    <!-- scrippzz here -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <link rel="stylesheet" href="../styles.css" />
  </head>

  <body>
    <div id="app">
      <marquee
        ><h1>
          TEXT 720-897-0049 to let us know your favorite things about DVLP
          Denver!
        </h1></marquee
      >
      <h2 style="text-align: center">
        Scrolling purple text iz hard to read so
      </h2>
      <h3 style="text-align: center">Please text 720-897-0049</h3>

      <div id="wordcloud">
        <!-- Word cloud -->
      </div>

      <marquee id="wordList">
        <!-- Full length messagez go herez-->
      </marquee>
    </div>
  </body>

  <script type="text/javascript">
    const socket = io("http://localhost:1337");

    document.addEventListener("DOMContentLoaded", function(event) {
      //do work
      // socket.on("connection", socket => {
      //   let token = socket.handshake.query.token;
      //   console.log("we connected babieszzz");
      // });

      socket.on("wordz", message => {
        console.log("dis da worzzzz", message);
        // create a new div element
        const newSpan = document.createElement("span");
        // and give it some content
        const newContent = document.createTextNode(message);
        // add the text node to the newly created div
        newSpan.appendChild(newContent);

        document.querySelector("#wordList").append(newSpan);
      });
    });

    document.querySelector("#dumpCSV").addEventListener("click", {});
  </script>
  <script src="../app.js"></script>
  <style>
    #wordList span {
      margin-right: 16px;
    }
  </style>
</html>
